<header>
    <ul class="nav-bar">
        <li  class="nav-item"> <a class="nav-link" href="/"> <img class="nav-img" src="/images/home-icon.png" /> Home</a> </li>
        <li  class="nav-item"> <a class="nav-link" href="/work"> <img class="nav-img" src="/images/work-icon.png" /> Work</a> </li>
    </ul>
</header>