<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>

    <link rel="stylesheet" href="/styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>

<header>
    <ul class="nav-bar">
        <li  class="nav-item"> <a class="nav-link" href="/"> <img class="nav-img" src="/images/calendar-icon.png" /> Today</a> </li>
        <li  class="nav-item"> <a class="nav-link" href="/work"> <img class="nav-img" src="/images/work-icon.png" /> Work</a> </li>
    </ul>
</header>