
<div id="list">
    <% if(locals.itemList) { %>

        <% for (var i = 0; i < itemList.length; i++) { %>
            <% if (i == 0) { %>
                <div class="list-item" id="list-item-top"> 
                    <input class="list-elem" type="checkbox">
                    <p class="list-elem"> <%= itemList[i] %> </p>
                </div>
            <% } else { %>
                <div class="list-item"> 
                    <input class="list-elem" type="checkbox">
                    <p class="list-elem"> <%= itemList[i] %> </p>
                </div>
            <% } %>
        <% } %>

        <div id="list-item-bottom" class="list-item">
            <form id="submission-item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item">
                <input type="submit" value="+">
            </form>
        </div>

    <% } else { %>

        <div id="list-item-single" class="list-item">
            <form id="submission-item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item">
                <input type="submit" value="+">
            </form>
        </div>

    <% } %>
</div>