<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>

    <link rel="stylesheet" href="/styles/main.css" />
</head>

<%- include("partials/header.ejs") %>

<body>

    <main>

        <div id="heading-container">
            <h1 id="date-heading"> <%= date %> </h1>
        </div>

        <div id="list-container">
            <%- include("partials/list.ejs") %>
        </div>
        
    </main>
    
</body>

<%- include("partials/footer.ejs") %>
</html>