<%- include("partials/header.ejs") %>

<body>

    <main>

        <div id="heading-container">
            <h1 class="heading"> Work List </h1>
        </div>

        <div id="list-container">
            <%- include("partials/list.ejs") %>
        </div>
        
    </main>
    
</body>

<%- include("partials/footer.ejs") %>
</html>