html {
    background-image: -webkit-linear-gradient(65deg, rgba(99,170,255,1) 50%, rgb(221,237,255,1) 50%);
    background-color: rgb(221,237,255,1);

    min-height: 1000px;
    position: relative;
}

body {
    height: 100%;

}

main {
    height: 100%;
}

.nav-bar {
    display: flex;
    list-style-type: none;
}

.nav-item {
    padding-right: 30px;
}

.nav-item:last-child {
    padding-right: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    text-decoration: none;
    color: #34649b;
    font-family: 'Lato', sans-serif;
}

.nav-item, a:visited, a:hover, a:active {
    color: #34649b;
}

.nav-img {
    max-width: 20px;
    max-height: 20px;

    margin-right: 5px;
}

#heading-container {
    display: flex;
    width: 100%;
    justify-content: center;

    padding: 50px 0 10px 0;
}

.heading {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #34649b;

    min-width: 300px;
    height: fit-content;

    padding: 10px 0 10px 0;

    filter: drop-shadow(4px 4px 10px rgb(123, 123, 123));
    border-radius: 5px;
}

#list-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 30px 0 50px 0;
}

#list {
    filter: drop-shadow(4px 4px 10px rgb(123, 123, 123));

    max-width: 300px;
}

.list-item {
    display: flex;
    align-items: center;

    background-color: whitesmoke;
    min-width: 300px;
    max-width: 300px;

    border-bottom: 1px solid rgb(204, 204, 204);
}

#list-item-top {
    border-radius: 5px 5px 0 0;
}

#list-item-single {
    border-radius: 5px;
    justify-content: center;
}

#list-item-bottom {
    border-radius: 0 0 5px 5px;
    justify-content: center;
}

.list-elem {
    margin-right: 20px;
    margin-left: 15px;
    height: fit-content;
}

p.list-elem {
    margin-left: 0;
    min-height: 1.15rem;
    min-width: 1.15rem;

    text-align: center;
    overflow-wrap: break-word;
    hyphens: auto;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    color: rgb(47, 47, 47);
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: #144e90;
}

#submission-item {
    padding: 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

input[type=text] {
    width: 75%;

    text-align: center;
    font-size: 1.15rem;
    font-family: 'Lato', sans-serif;

    border: none;
    background-color: whitesmoke;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid rgba(99,170,255,1) !important;

    margin-bottom: -3px;
}

button {
    border-radius: 50%;
    border: none;
    background-color: rgba(99,170,255,1);

    color: rgb(221,237,255,1);
    font-size: 1.5rem;

    width: 50px;
    height: 50px;
}


footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;

    display: flex;
    justify-content: center;

    padding: 0 0 10px 10px;

    font-size: 1.15rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

footer > a {
    color: rgb(2, 2, 134);
}

footer > a:visited, a:hover, a:active {
    color: rgb(2, 2, 134);
}